.breeds {
  @apply text-[#333];
  &__body {
    @apply bg-[#fff] p-[20px] rounded-[20px];
  }
}

.pattern__container {
  @apply grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(140px, auto);
  gap: 20px;
  grid-template-areas:
    "col-1        little-one-1  little-two-1"
    "col-1        bigbox-1      bigbox-1"
    "col-box-1    bigbox-1      bigbox-1"
    "col-2        little-one-2  little-two-2"
    "col-2        bigbox-2      bigbox-2"
    "col-box-2    bigbox-2      bigbox-2";
  * {
    border-radius: 20px;
  }
  div {
    display: flex;
  }
  img {
    object-position: center center;
    width: 100%;
    height: 100%;
    min-height: 140px;
    max-height: 300px;
    border-radius: 20px;
    object-fit: cover;
    position: relative;
    overflow-clip-margin: content-box;
    overflow: clip;
  }
}

$pattern-elem-bg: #999;

.pattern__element {
  &_col_1 {
    background: $pattern-elem-bg;
    grid-area: col-1;
    max-height: 300px;
  }
  &_col_box_1 {
    background: $pattern-elem-bg;
    grid-area: col-box-1;
    max-height: 140px;
  }
  &_little_one_1 {
    background: $pattern-elem-bg;
    grid-area: little-one-1;
    max-height: 140px;
  }
  &_little_two_1 {
    background: $pattern-elem-bg;
    grid-area: little-two-1;
    max-height: 140px;
  }
  &_bigbox_1 {
    background: $pattern-elem-bg;
    grid-area: bigbox-1;
    max-height: 300px;
  }

  &_col_2 {
    background: $pattern-elem-bg;
    grid-area: col-2;
    max-height: 300px;
  }
  &_col_box_2 {
    background: $pattern-elem-bg;
    grid-area: col-box-2;
    max-height: 140px;
  }
  &_little_one_2 {
    background: $pattern-elem-bg;
    grid-area: little-one-2;
    max-height: 140px;
  }
  &_little_two_2 {
    background: $pattern-elem-bg;
    grid-area: little-two-2;
    max-height: 140px;
  }
  &_bigbox_2 {
    background: $pattern-elem-bg;
    grid-area: bigbox-2;
    max-height: 300px;
  }
}

.shine {
  position: relative;
  overflow: hidden;

  &::before {
    background: linear-gradient(
      to right,
      fade_out(#fff, 1) 0%,
      fade_out(#fff, 0.7) 100%
    );
    content: "";
    display: block;
    height: 100%;
    left: -75%;
    position: absolute;
    top: 0;
    transform: skewX(-25deg);
    width: 50%;
    z-index: 2;
  }

  &::before {
    animation: shine 1s infinite;
  }

  @keyframes shine {
    100% {
      left: 125%;
    }
  }
}

.breed_select {
  @apply w-[206px];
}

.breed_limit,
.breed_select {
  @apply px-[10px] py-[8px] border-[2px] border-[transparent] duration-150;

  &:focus,
  &:hover,
  &::selection {
    @apply border-[rgba(255,134,142,0.2)];
  }
}

.order {
  @apply bg-[transparent] p-[10px] border-[2px] border-[transparent] duration-150;
  svg {
    @apply rounded-none;
  }
  svg path {
    fill: #888;
  }
  &.active {
    @apply border-[rgba(255,134,142,0.2)];
    svg path {
      fill: rgba(255, 134, 142, 0.5);
    }
  }
}
